dist/
ivy-lib/
apidocs.log
javadoc/
coverage/
**/target/*
.DS_Store
pom.xml.versionsBackup
.project
.settings/
.metadata
.DS_Store
**/apidocs.log
**/.externalToolBuilders/*
lib/*
com.servicemesh.io/*

